<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./fontawesome/css/all.min.css">


    <title>ForteIdea</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/mystyle.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="icon" href="./img/fortebank-favicon.png" type="image/png">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/58e011a78f.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="issuedetailed" align="center">

    <div id="navbar" class="navbar navbar-light bg-light">
        <div class="navbar-brand">
            <a href="file:///C:/Users/zbayghozha/Google Диск/forteIdea/index.html">{{mainBtnText}}</a>
        </div>
        <div id="navbar_left_btns" class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="goMain">{{goBackText}}</button>
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="exitSite">{{exitTxt}}</button>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="navbar">
                <div>
                    Тема: {{record.title}}
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning" v-on:click="goCreateIssue"><i class="fa fa-pencil"></i> {{changeIssue}}</button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> {{deleteIssue}}</button>
                </div>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">Описание: {{record.description}}</th>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-secondary" role="alert">
        <div class="btn-toolbar" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">Автор
            </button>
            <button type="button" class="btn btn-dark">Количество <i class="fas fa-heart"></i> <span
                    class="badge badge-light">9</span></button>
            <button type="button" class="btn btn-dark">Нравиться <i class="fas fa-heart"></i></button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body alert alert-secondary" role="alert">
                Автор темы: Байгожа Жасулан Аронулы и так далее
            </div>
        </div>
    </div>

    <div class="form-group alert alert-secondary" role="alert">
        <label for="exampleInputEmail1">Добавить комментарий</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Введите комментарии" v-model="message">
        <button type="submit" class="btn btn-dark" v-on:click="addComment">{{sendComment}}</button>
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>

    <div class="alert alert-dark" role="alert">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Автор</th>
                <th scope="col">Комментарии</th>
                <th scope="col">Голосование</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="comment in comments">
                <th scope="row">{{comment.id}}</th>
                <td>{{comment.owner}}</td>
                <td>{{comment.text}}</td>
                <td v-on:click="likeComment(comment)">
                    <div v-if="comment.like "><i class="fas fa-heart"></i></div>
                    <div v-else><i class="far fa-heart"></i></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<!--<script src="./js/navbar.js"></script>-->
<script src="./vue/issuedetailedVue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>